.body{
	width: 300px;
	border: 1px solid black;
	margin: 50px auto;
}
.header{
	background-color: #00A19C;
	padding: 10px;
}
.content{
	padding: 10px 5px;
	background-color: #C7EEEB;
	line-height: 25px;
}