<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>jspd7_baitap3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexPublicController</display-name>
    <servlet-name>IndexPublicController</servlet-name>
    <servlet-class>controller.IndexPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPublicController</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailPublicController</display-name>
    <servlet-name>DetailPublicController</servlet-name>
    <servlet-class>controller.DetailPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPublicController</servlet-name>
    <url-pattern>/chi-tiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexCatPublicController</display-name>
    <servlet-name>IndexCatPublicController</servlet-name>
    <servlet-class>controller.IndexCatPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCatPublicController</servlet-name>
    <url-pattern>/danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCatController</display-name>
    <servlet-name>AddCatController</servlet-name>
    <servlet-class>controller.AddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCatController</servlet-name>
    <url-pattern>/them-lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactController</display-name>
    <servlet-name>AddContactController</servlet-name>
    <servlet-class>controller.AddContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactController</servlet-name>
    <url-pattern>/show-lien-he</url-pattern>
  </servlet-mapping>
</web-app>