<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>BaiTap1</display-name>
    <servlet-name>BaiTap1</servlet-name>
    <servlet-class>baitap1.BaiTap1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaiTap1</servlet-name>
    <url-pattern>/BaiTap1</url-pattern>
  </servlet-mapping>
  <display-name>jspd1_baitap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaiTap2</display-name>
    <servlet-name>BaiTap2</servlet-name>
    <servlet-class>baitap2.BaiTap2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaiTap2</servlet-name>
    <url-pattern>/BaiTap2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaiTap3</display-name>
    <servlet-name>BaiTap3</servlet-name>
    <servlet-class>baitap3.BaiTap3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaiTap3</servlet-name>
    <url-pattern>/BaiTap3</url-pattern>
  </servlet-mapping>
</web-app>