<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ShowShopHoa</display-name>
    <servlet-name>ShowShopHoa</servlet-name>
    <servlet-class>controller.ShowShopHoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShopHoa</servlet-name>
    <url-pattern>/ShowShopHoa</url-pattern>
  </servlet-mapping>
  <display-name>jspd6_baitap1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShopHoaController</display-name>
    <servlet-name>ShopHoaController</servlet-name>
    <servlet-class>controller.ShopHoaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopHoaController</servlet-name>
    <url-pattern>/xuly-hienthi</url-pattern>
  </servlet-mapping>
</web-app>