<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>jsp_testquamon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexPublicController</display-name>
    <servlet-name>IndexPublicController</servlet-name>
    <servlet-class>controller.cland.IndexPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPublicController</servlet-name>
    <url-pattern>/cland/trang-chu-land</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexCatPublicController</display-name>
    <servlet-name>IndexCatPublicController</servlet-name>
    <servlet-class>controller.cland.IndexCatPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCatPublicController</servlet-name>
    <url-pattern>/show-danh-muc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailCatPublicController</display-name>
    <servlet-name>DetailCatPublicController</servlet-name>
    <servlet-class>controller.cland.DetailCatPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailCatPublicController</servlet-name>
    <url-pattern>/chi-tiet-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactPublicController</display-name>
    <servlet-name>ContactPublicController</servlet-name>
    <servlet-class>controller.cland.ContactPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactPublicController</servlet-name>
    <url-pattern>/gui-lien-he</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexAdminController</display-name>
    <servlet-name>IndexAdminController</servlet-name>
    <servlet-class>controller.admin.IndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdminController</servlet-name>
    <url-pattern>/admin/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLandAdminController</display-name>
    <servlet-name>AddLandAdminController</servlet-name>
    <servlet-class>controller.admin.AddLandAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLandAdminController</servlet-name>
    <url-pattern>/admin/add-bds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddLandAdminController</display-name>
    <servlet-name>ShowAddLandAdminController</servlet-name>
    <servlet-class>controller.admin.ShowAddLandAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddLandAdminController</servlet-name>
    <url-pattern>/admin/show-add-bds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCatAdminController</display-name>
    <servlet-name>AddCatAdminController</servlet-name>
    <servlet-class>controller.admin.AddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCatAdminController</servlet-name>
    <url-pattern>/admin/add-type</url-pattern>
  </servlet-mapping>
</web-app>