<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>jspd3_baitap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CauChaoController</display-name>
    <servlet-name>CauChaoController</servlet-name>
    <servlet-class>baitap2.controller.CauChaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CauChaoController</servlet-name>
    <url-pattern>/xu-ly-cau-chao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCauChaoController</display-name>
    <servlet-name>ShowCauChaoController</servlet-name>
    <servlet-class>baitap2.controller.ShowCauChaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCauChaoController</servlet-name>
    <url-pattern>/in-cau-chao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HinhTronController</display-name>
    <servlet-name>HinhTronController</servlet-name>
    <servlet-class>baitap3.controllerHinhTronController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HinhTronController</servlet-name>
    <url-pattern>/xu-ly-hinh-tron</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHinhTronController</display-name>
    <servlet-name>ShowHinhTronController</servlet-name>
    <servlet-class>baitap3.controller.ShowHinhTronController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHinhTronController</servlet-name>
    <url-pattern>/in-thong-tin-hinh-tron</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThayTheVanBanController</display-name>
    <servlet-name>ThayTheVanBanController</servlet-name>
    <servlet-class>baitap4.controller.ThayTheVanBanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThayTheVanBanController</servlet-name>
    <url-pattern>/xu-ly-thong-tin-thay-the</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowVanBanThayTheController</display-name>
    <servlet-name>ShowVanBanThayTheController</servlet-name>
    <servlet-class>baitap4.controller.ShowVanBanThayTheController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowVanBanThayTheController</servlet-name>
    <url-pattern>/in-thong-tin-thay-the</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaiTap5Controller</display-name>
    <servlet-name>BaiTap5Controller</servlet-name>
    <servlet-class>baitap5.controller.BaiTap5Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaiTap5Controller</servlet-name>
    <url-pattern>/so-ngau-nhien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Computer</display-name>
    <servlet-name>Computer</servlet-name>
    <servlet-class>baitapluyen.controller.Computer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Computer</servlet-name>
    <url-pattern>/Computer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowComputerController</display-name>
    <servlet-name>ShowComputerController</servlet-name>
    <servlet-class>baitapluyen.controller.ShowComputerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowComputerController</servlet-name>
    <url-pattern>/show-computer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComputerController</display-name>
    <servlet-name>ComputerController</servlet-name>
    <servlet-class>baitapluyen.controller.ComputerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputerController</servlet-name>
    <url-pattern>/computer-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowListComputer</display-name>
    <servlet-name>ShowListComputer</servlet-name>
    <servlet-class>baitapluyen.controller.ShowListComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowListComputer</servlet-name>
    <url-pattern>/show-list-computer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateComputer</display-name>
    <servlet-name>UpdateComputer</servlet-name>
    <servlet-class>baitapluyen.controller.UpdateComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComputer</servlet-name>
    <url-pattern>/UpdateComputer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComputer</display-name>
    <servlet-name>DeleteComputer</servlet-name>
    <servlet-class>baitapluyen.controller.DeleteComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComputer</servlet-name>
    <url-pattern>/DeleteComputer</url-pattern>
  </servlet-mapping>
</web-app>